#idle_inhibitor,
#wireplumber,
#audio,
#bluetooth,
#gamemode,
#systemd-failed-units
 {
  padding: 0 0.5em;
}

#pulseaudio {
	padding: 0 0.5em;
	margin: 0 3px;
}

#custom-updates.updated {
  padding-left: 0;
  padding-right: 1em;
}

/* Unique colors for modules */
#idle_inhibitor {
  color: @yellow;
}

#pulseaudio{
  color: @green;
}

#custom-github {
  color: @blue;
}

#custom-updates {
  color: @red;
}

#systemd-failed-units {
  color: @mauve;
}

#custom-pipewire.muted,
#pulseaudio.muted {
  background-color: #90b1b1;
  color: #2a5c45;
}

#keyboard-state {
  padding: 0 0px;
  min-width: 16px;
  color: @mauve;
}

#keyboard-state > label {
  padding: 0 5px;
}

#keyboard-state > label.locked {
  background: rgba(0, 0, 0, 0.2);
}

#pulseaudio-slider slider {
    min-height: 0px;
    min-width: 0px;
    opacity: 0;
    background-color: @green;
    background-image: none;
    border: none;
    box-shadow: none;
}
#pulseaudio-slider trough {
    min-height: 10px;
    min-width: 80px;
    border-radius: 5px;
    background-color: @base;
}
#pulseaudio-slider highlight {
    min-width: 10px;
    border-radius: 5px;
    background-color: @green;
}

#custom-vpn.connected {
	color: @green;
}
#custom-vpn.disconnected {
	color: @red;
}

#custom-vpn{
  margin: 0.5em;
  padding-left: 8px;
  padding-right: 8px;
  font-weight: bold;
  background-color: @surface0;
  border: 2px solid @surface1;
}

/* Custom styling for the logout icon on end */
#custom-wlogout, #custom-power {
  font-size: 1.75em;
  padding-right: 0.5em;
  padding-left: 0.5em;
  color: @blue;
}

#power .not-power {
    color: @red;
  }
